<% content_for :css do %>
<!--Style-->
  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/style-responsive.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<% end %>

<!--Preloader-->

<div class="preloader" id="preloader">
    <div class="item">
      <div class="spinner">
      </div>
    </div>
</div>

<div class="opacity-nav">

        <div class="menu-index" id="buttons" style="z-index:999999">
        <i class="fa  fa-close"></i>
        </div>

    <ul class="menu-fullscreen">
      <li><a class="ajax-link" href="index.html">Home</a></li>
      <li><a class="ajax-link" href="projects.html">Projects</a></li>
      <li><a class="ajax-link" href="about-us.html">About us</a></li>
      <li><a class="ajax-link" href="contact.html">Contact</a></li>
    </ul>

</div>


  <!--Header-->
  <header id="fullscreen">
    
      <div class="logo" id="full"><a class="ajax-link" href="index.html">THOMSOON</a></div>
      
        <div class="menu-index" id="button">
        <i class="fa fa-bars"></i>
        </div>

  </header>

  <div class="clear"></div>

  <!--Content-->

  <div class="content" id="ajax-content">

        <div class="text-intro">

          <h1>Contact</h1>
          <p>To contact me please use the contact form below. You can also contact me through my email: <a><%= @user.email %></a></p>

          <form method="post" action="?" data-jkit="[form:validateonly=true]">
          
          <div class="row">
            <p class="col l5 m12 s12">
              <label for="miniusername">Full name:</label><br />
              <input class="col s12" name="miniusername" id="miniusername" data-jkit="[validate:required=true;min=5;max=30;error=Please enter your full name (5-30 characters)]">
            </p>
            <p class="col l5 m12 s12">
              <label for="miniemail">E-mail:</label><br />
              <input class="col s12" name="miniemail" id="miniemail" data-jkit="[validate:required=true;strength=50;error=Please enter your email]">
            </p>
          </div>
          <div class="row">
            <p class="col l10 m12 s12">
              <label>Message:</label><br/>
              <textarea id="message" name="message" data-jkit="[validate:required=true;error=Please write something]"></textarea><br/><br/>
              <input class="button-submit" name="send" type="submit" value="SUBMIT" />
            </p>
          </div>
            
            <p>
            </p>
          </form>
          
        </div>
  </div>

  <!--Home Sidebar-->

<div id="ajax-sidebar"></div>

  <!--Footer-->
  <footer>
    <div class="footer-margin">
      <div class="social-footer">
        <a href="https://www.facebook.com/jennifer.wiriawan96"><i class="fa fa-facebook"></i></a>
        <a href="https://www.behance.net/jenniferwiriawan"><i class="fa fa-behance"></i></a>
      </div>
      <div class="copyright">© Copyright 2015 Jennifer Wiriawan and Obed Tandadjaja. All rights reserved.</div>
    </div>
  </footer>

<% content_for :script do %>
<!--Scripts-->
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.easing.min.js" %>
  <%= javascript_include_tag "modernizr.custom.42534.js" %>
  <%= javascript_include_tag "jquery.waitforimages.js" %>
  <%= javascript_include_tag "typed.js" %>
  <%= javascript_include_tag "masonry.pkgd.min.js" %>
  <%= javascript_include_tag "imagesloaded.pkgd.min.js" %>
  <%= javascript_include_tag "jquery.jkit.1.2.16.min.js" %>
  <%= javascript_include_tag "script.js" %>
	<script>
    $('#button, #buttons').on('click', function() {
      $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
    // Animation complete.
    });
  </script>
<% end %>