<% content_for :css do %>
<!--Style-->

  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/style-responsive.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<% end %>

<!--Preloader-->

<div class="preloader" id="preloader">
  <div class="item">
    <div class="spinner">
    </div>
  </div>
</div>

<div class="opacity-nav">
  <div class="menu-index" id="button1" style="z-index=999999">
    <i class="fa fa-close"></i>
  </div>
  <ul class="menu-fullscreen">
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about-me">About me</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>

  <!--Header-->
  <header id="fullscreen">
    <div class="logo" id="full"><a class="ajax-link" href="#">JENNIFER WIRIAWAN</a></div>
    <div class="menu-index" id="button2">
      <i class="fa fa-bars"></i>
    </div>
  </header>
  <div class="clear"></div>

  <!--Content-->
  <div class="content" id="ajax-content">
    <div class="text-intro" id="site-type">
      <h1>Hello there! Here's My Graphic Design</h1>
      <h1 class="typewrite"><span>Portfolio</span></h1>
      <p></p>
    </div>

  <!--Portfolio grid-->

    <ul class="portfolio-grid">
      <% @projects.each do |project| %>
      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <% if project.attachment.where(is_primary: true).first %>
        <%= image_tag project.attachment.where(is_primary: true).first.image.url %>
        <% elsif project.attachment.first %>
        <%= image_tag project.attachment.first.image.url %>
        <% else %>
        <%= image_tag 'portfolio/1.jpg' %>
        <% end %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1><%= project.title %></h1>
              <p><%= project.description_brief %></p>
            </div>
          </a>
      </li>
      <% end %>

      <!-- <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/7.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>

      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/8.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>
      
      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/9.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>
      
      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/10.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>

      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/11.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>

      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/12.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>

      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/13.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>


      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/14.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li>


      <li class="grid-item" data-jkit="[show:delay=3000;speed=500;animation=fade]">
        <%= image_tag "portfolio/15.jpg" %>
          <a class="ajax-link" href="single.html">
            <div class="grid-hover">
              <h1>Single</h1>
              <p>Branding</p>
            </div>
          </a>
      </li> -->
      
    </ul>

  </div>

  <div id="ajax-sidebar"></div>

<% content_for :script do %>
<!--Scripts-->
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.easing.min.js" %>
  <%= javascript_include_tag "modernizr.custom.42534.js" %>
  <%= javascript_include_tag "jquery.waitforimages.js" %>
  <%= javascript_include_tag "typed.js" %>
  <%= javascript_include_tag "masonry.pkgd.min.js" %>
  <%= javascript_include_tag "imagesloaded.pkgd.min.js" %>
  <%= javascript_include_tag "jquery.jkit.1.2.16.min.js" %>
  <%= javascript_include_tag "script.js" %>
	<script>
    $('#button1').on('click', function() {
      $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
    // Animation complete.
    });
	 $('#button2').on('click', function() {
      $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
    // Animation complete.
    });
  </script>
<% end %>