<% content_for :css do %>
<!--Style-->
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "style-responsive" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<% end %>

<!--Preloader-->

<div class="preloader" id="preloader">
    <div class="item">
      <div class="spinner">
      </div>
    </div>
</div>

<div class="opacity-nav">
  <div class="menu-index" id="buttons" style="z-index:999999">
    <i class="fa  fa-close"></i>
  </div>
  <ul class="menu-fullscreen">
    <li><a href="/">Home</a></li>
    <li><a href="/">Projects</a></li>
    <li><a href="/about-me">About me</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>


  <!--Header-->
  <header id="fullscreen">
      <div class="logo" id="full"><a class="ajax-link" href="/">JENNIFER WIRIAWAN</a></div>
      <div class="menu-index" id="button">
      <i class="fa fa-bars"></i>
      </div>
  </header>

  <div class="clear"></div>

  <div class="content" id="ajax-content">
    <div class="text-intro">
      <h1><%= @project.title %></h1>
      <div class="one-column">
        <p><%= @project.subtitle %></p>
      </div>
      <div class="two-column">
        <p><%= @project.description %></p>
      </div>
      <div class="clear"></div>
      <br/><br/><br/><br/>
      <% @project.attachment.each do |attachment| %>
        <a href="/attachments/<%= attachment.id %>"><img src="<%= attachment.url %>" width="100%"></a><br/><br/><br/><br/>
      <% end %>
      <div class="prev-next">
        <div class="prev-button">
        <% if @project.prev %>
        <a class="ajax-link" href="/projects/<%= @project.prev.slug %>">Previous work</a>
        <% else %>
        <a class="ajax-link" href="#" onclick='return false' style="opacity: 0.2">Prev work</a>
        <% end %>
        </div>
        <div class="next-button">
        <% if @project.next %>
        <a class="ajax-link" href="/projects/<%= @project.next.slug %>">Next work</a>
        <% else %>
        <a class="ajax-link" href="#" onclick='return false' style="opacity: 0.2">Next work</a>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <!--Home Sidebar-->

<div id="ajax-sidebar"></div>

  <!--Footer-->
  <footer>
    <div class="footer-margin">
      <div class="social-footer">
        <a href="https://www.facebook.com/jennifer.wiriawan96"><i class="fa fa-facebook"></i></a>
        <a href="https://www.behance.net/jenniferwiriawan"><i class="fa fa-behance"></i></a>
      </div>
      <div class="copyright">© Copyright 2015 Jennifer Wiriawan and Obed Tandadjaja. All rights reserved.</div>
    </div>
  </footer>

<% content_for :script do %>
<!--Scripts-->
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.easing.min.js" %>
  <%= javascript_include_tag "modernizr.custom.42534.js" %>
  <%= javascript_include_tag "jquery.waitforimages.js" %>
  <%= javascript_include_tag "typed.js" %>
  <%= javascript_include_tag "masonry.pkgd.min.js" %>
  <%= javascript_include_tag "imagesloaded.pkgd.min.js" %>
  <%= javascript_include_tag "jquery.jkit.1.2.16.min.js" %>
  <%= javascript_include_tag "script.js" %>
	<script>
    $('#button, #buttons').on('click', function() {
      $( ".opacity-nav" ).fadeToggle( "slow", "linear" );
    // Animation complete.
    });
  </script>
<% end %>
