<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Jennifer Wiriawan's Portfolio</title>
  <meta name="description" content="Jennifer Wiriawan's Portfolio ">
  <meta name="keywords" content="clean, simplicity, theme, html5, sidebar, masonry">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="obedtandadjaja.com">
  <link rel="icon" type="image/png" href="images/icon.png" />

  <title>Jennifer Wiriawan's Portfolio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= yield :css %>
  <%= csrf_meta_tags %>

  <% if @admin_page %>
  <style>
    html, body {
      background-color: #eceff1;
    }
    .card {
      margin: 70px 0 70px 0;
    }
    .alert {
      padding: 8px 35px 8px 14px;
      margin-bottom: 18px;
      color: #c09853;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      background-color: #fcf8e3;
      border: 1px solid #fbeed5;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .alert-info {
      color: #3a87ad;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
  </style>
  <% end %>

</head>
<body>

<% if @admin_page %>
  <nav>
    <div class="nav-wrapper blue-grey lighten-2">
      <div class="container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><%= link_to "Home", '/' %></li>
            <% if current_user %>
            <li><%= link_to "Admin Page", '/admin' %></li>
            <% end %>
        </ul>
        <ul class="right hide-on-med-and-down" style="margin-right: 15px">
            <% if current_user %>
            <li><%= link_to current_user.full_name, controller: "users", action: "show", id: current_user.id %></li>
            <li><%= link_to "Logout", '/logout', method: 'delete' %></li>
            <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><%= link_to "Home", '/' %></li>
            <% if current_user %>
            <li><%= link_to "Profile", controller: "users", action: "show", id: current_user.id %></li>
            <li><%= link_to "Logout", '/logout', method: 'delete' %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Flash Messages -->
  <% flash.each do |key, value| %>
    <div class="alert alert-info">
      <div class="container">
      <%= value %>
      <a class="right" href="#"><i class="material-icons">done_all</i></a>
      </div>
    </div>
  <% end %>

<% end %>

<%= yield %>

<% if @admin_page %>
<!-- Footer -->
<footer class="page-footer blue-grey lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l3 m6 s12">
        <h5 class="white-text">Projects</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/projects">See all projects</a></li>
          <li><a class="grey-text text-lighten-3" href="/projects/new">Add a project</a></li>
        </ul>
      </div>
      <div class="col l3 m6 s12">
        <h5 class="white-text">Attachments</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/attachments">See all attachments</a></li>
          <li><a class="grey-text text-lighten-3" href="/attachments/new">Add an attachment</a></li>
        </ul>
      </div>
      <div class="col l3 m6 s12">
        <h5 class="white-text">Profile</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/users/1">See Profile</a></li>
          <li><a class="grey-text text-lighten-3" href="/users/1/edit">Edit Profile</a></li>
        </ul>
      </div>
      <div class="col l3 m6 s12">
        <h5 class="white-text">Other links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home page</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="/about-me">About me</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Jennifer Wiriawan and Obed Tandadjaja
    <a class="grey-text text-lighten-4 right" href="#!">Jennifer Wiriawan Portfolio</a>
    </div>
  </div>
</footer>
<% end %>

<!-- Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
  $('select').material_select();
  $('.alert a').click(function()
  {
    $('.alert').remove();
  });
});
</script>
<%= yield :script %>

</body>
</html>
